<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gai</title>
</head>
<body>
<p th:text="${car.model}">VALUE</p>
<p th:text="${car.color}">VALUE</p>
<p th:text="${car.year}">VALUE</p>
<p th:text="${car.price}">VALUE</p>


<a th:href="@{/gai/edit(id=${car.id})}">Edit</a>


<form th:method="POST" th:action="@{/gai/delete}">
    <input type="hidden" name="id" th:value="${car.id}" />
    <input type="submit" value="Delete"/>
</form>
</body>
</html>
